<div class=login>
  <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
    <div>
      <%= f.email_field :email, placeholder: "email" %>
    </div>
    <div>
      <%= f.password_field :password, placeholder: "password" %>
    </div>
    <%= f.submit 'Log in' ,{class: 'login_submit' } %>
  <% end %>
</div>
