<div class="emotion_index">
    <div class="emotion_chartbox">
        <h1>Your Wellness</h1>
        <div class= chart>
            <%= pie_chart @confidencescores %>
        </div>
    </div>
</div>


