<div class="emotion_new">
  <h1>Wellness Power Checker</h1>
  <%= form_with(model: @emotion, local: true) do |form| %>
    <div class="question_1">今日起きた出来事についてあなたの気持ちをチェックします。</div>
    <div class="question_2">何がありましたか？一番近いものを選択してください</div>
    <div class="question_3">どんな感情ですか？一番近いものを選択してください</div>
    <div class="question_4">浮かんだイメージを教えてください、一番近いものを選択してください</div>
    <div><%= form.text_area :sheet, placeholder: "メッセージを入力"%></div>
    <%= form.submit 'check' ,{class: 'submit' } %>
  <% end %>

  <p>＊Wellness Checkerのユーザーデータは解析のみに利用し、これを当社で保持することはありません。</p>

  <div>
    <%= @sentiment %>
  </div>
</div>