<div class="emotion_new">
  <h1>Daily Checker</h1>
  <%= form_with(model: @emotion, local: true) do |form| %>
    <% if logged_in? %>
      <div class="question_1">こんにちわ
        <%= current_user.name %>さん
      </div>
      <div class="question_2">今の気分はいかがですか？ </div> 
    <% else %>
      <div class="question_2">今の気分はいかがですか？ </div>
    <% end %>
    
    <div class="emotion_type_wrap">
      <p>Condition</p>  
      <div class="emotion_select_box">
        <div class="emotion_select_box_inner_type">
          <input name="emotion[mood][]" type="checkbox" value="Very Good" />
          <span>&#x1f606;</span>
          <label for="" class= pleasure>Very Good</label>
        </div>
        <div class="emotion_select_box_inner_type">
          <input name="emotion[mood][]" type="checkbox" value="Good" />
          <span>&#x1f600;</span>
          <label>Good</label>
        </div>
        <div class="emotion_select_box_inner_type">
          <input name="emotion[mood][]" type="checkbox" value="Average" />
          <span>&#x1f610;</span>
          <label>Average</label>
        </div>
        <div class="emotion_select_box_inner_type">
          <input name="emotion[mood][]" type="checkbox" value="Poor" />
          <span>&#x1f605;</span>
          <label>Poor</label>
        </div>
        <div class="emotion_select_box_inner_type">
          <input name="emotion[mood][]" type="checkbox" value="Very Poor" />
          <span>&#x1f631;</span>
          <label>Very Poor</label>
        </div>
      </div>
    </div> 
    <%= form.submit 'check' ,{class: 'submit' } %>
  <% end %>
  <p>＊Stress Trackerのユーザーデータは解析のみに利用し、これを当社で保持することはありません。</p>
  <div>
    <%= @sentiment %>
  </div>
</div>