<div class= item_list_edit>
    <div class="wrap_formhead">
        <p>Edit Review</p>
        <div class="item_list_delate"><%= link_to image_tag("trash.png"), @item_list, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></div>
    </div>
    <%= render 'layouts/form_itemlist' %>
</div>