<% @item_lists.each do |item_list| %>
    <li>
    <div class="box_text">
        <%= link_to item_list.list_name , item_list_path(item_list) %>
        <p class= item_list_products>products</p>
    </div>  
    <% if item_list.image? %>
        <%= image_tag item_list.image.url %> 
    <% else %>
        <%= image_tag "/assets/default.jpg" %>
    <% end %>
    </li>
<% end %>