<div class="item_list_index">
    <% if logged_in? %>
        <%= search_form_for @search do |f| %>
        <%= f.search_field :list_name_cont, placeholder: "How Are You Feeling?" %>
        <button type="submit" id="search">
          <span class="material-icons">search</span>
        </button>
      <% end %>
    <% end %>
    <p>Result</p>
    <%= render 'layouts/article_index' %>
  </div>
</div>