<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<div class="item_list_new">
    <div class="wrap_formhead">
        <p>やってみたことを記録&nbsp;</p>
    </div>
    <%= render 'layouts/form_itemlist' %>    
</div>
