
<% if logged_in? %>
<p>ログイン完了ユーザ: <%= current_user.name %></p>

<% else %>
<div>
  <div>
    <h1>Welcome to the Supporttool</h1>
    <%= link_to 'Sign up now!', signup_path %>
  </div>
</div>
<% end %>