<h1>Tool</h1>

<% if @item.img? %>
    <%= image_tag @item.img.url %>
    <p><%= @item.item_name %></p>
<% else %>

<% end %>

<%= link_to 'Back',  item_list_path %>
<% if current_user == @item.user %>
    <%= link_to 'Edit Product', edit_item_path(@item) %>
<% end %>