<h1>Tool</h1>

<% if @item.img? %>
    <%= image_tag @item.img.url %>
    <p><%= @item.item_name %></p>
<% else %>

<% end %>

<%= link_to 'Cancel',  item_list_path %>
<%= link_to 'Edit Products', edit_item_path(@item) %>