@import "_variables";

.emotion_index {
    background: $card-color;
    width: 550px;
    height: 400px;
    margin: 70px auto;
    padding: 30px 30px 100px 30px;
    h1 {
        width: 250px;
        color: #fff;
        margin: 0px auto 30px;
    }
    .chart{   
        #chart-1 {
            background-color: #c2c7ce;
            padding: 30px 0px;
            margin: 0 auto;
        }
    }
}

.emotion_new {
    background: $card-color;
    width: 550px;
    height: 540px;
    margin: 70px auto;
    padding: 30px 30px 50px 30px;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
    h1 {
        width: 310px;
        color: #fff;
        margin: 0px auto;
    }
    .minitue {
        margin: 0;
        color: #e4e8ee;
    }
    
    form {
        margin: 0px auto;
        .question_icon_1 {
            background-color: #fff;
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
        .question_1 {
            width: 310px;
            height: 82px;
            border-radius: 8px;
            background-color: #f0f2f5;
            margin: 10px 0px;
            padding: 7px 5px 0px 12px;
        }
        .question_2 {
            width: 200px;
            height: 33px;
            border-radius: 8px;
            background-color: #e5e7ec;
            margin: 20px 0px;
            padding: 7px 0px 0px 8px;
        }
        .question_3 {
            width: 200px;
            height: 33px;
            border-radius: 8px;
            background-color: #e5e7ec;
            margin: 20px 0px;
            padding: 7px 0px 0px 8px;
        }
        .question_4 {
            width: 200px;
            height: 50px;
            border-radius: 8px;
            background-color: #e5e7ec;
            margin: 20px 0px 0px;
            padding: 7px 0px 5px 8px;
        }
    }
    textarea {
        width: 300px;
        height: 50px;
        padding: 12px 0px 12px 15px;
        margin: 6px 19px 0px 233px;
        background-color: #f3f5f7;
        border-radius: 6px;
        border: none;
        outline: none;
        font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
    }
    .submit{
        text-align: right;
        margin: 0px 0px 0px 454px;
        padding: 13px 25px;
        background: $accent-color;
        border: #fff;
        border-radius: 4px;
        color: #FCFCFC;
        font-weight: bold;
        font-size: 15px;
        font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
    }
    p {
        margin: 15px 0px;
        color: #a4abb3;
        font-weight: 100;
        font-size: 13px;
    }
}

