@import "_variables";

.emotion_index {
    .emotion_chartbox {
        margin: 70px auto;
        padding: 30px 120px 80px 60px;
        background: #7b9fc9;
        width: 600px;
        border-radius: 8px;
        font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
        h1 {
            font-size: 38px;
            text-align: center;
            color: $font-color;
            margin: 10px auto 40px;
        }
        .chart{ 
            #chart-1 {
                background-color: #c2c7ce;
                padding: 40px 30px;
                margin: 0 auto;
                border-radius: 8px;  
            }
        }
    } 
}

.emotion_new { 
    width: 550px;
    margin: 70px auto;
    padding: 40px 70px 30px;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
    box-shadow: 20px 20px 32px #b3c9e2, -8px -8px 10px #ffffff;
    h1 {
        font-size: 38px;
        text-align: center;
        color: $font-color;
        margin: 0px auto 40px;
    }    
    form {
        margin: 0px auto;
        .question_1 {
            color: $font_color;
            font-size: 18px;
        }
        .question_2 {
            font-size: 18px;
            color: $text_font_color;
            height: 33px;
            border-radius: 8px;
            margin: 0px 0px 20px;
            padding: 7px 0px 0px 0px;
        }
        .emotion_select_box {
            background-color: #C2C7CE;
            border-radius: 4px;
            padding: 40px 0px 40px 40px;
            label {
                font-size: 26px;
                input {
                    margin: 0px 6px 5px 30px;
                }
                #text {
                    display: block;
                    margin: 0px 5px 0px 0px;
                }
            }
            .pleasure {
                font-size: 26px;
                input {
                    margin: 0px 6px 5px 0px;
                }
            }
        }
    }
    textarea {
        width: 300px;
        height: 60px;
        padding: 12px 3px 12px 15px;
        margin: 6px 0px 0px 233px;
        background-color: #f3f5f7;
        border-radius: 6px;
        border: none;
        outline: none;
        font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
    }
    .submit{
        text-align: right;
        margin: 25px 0px 10px 454px;
        padding: 17px 25px;
        background: $submit-sub-color;
        border: none;
        border-radius: 40px;
        color: $submit-font-color;
        font-weight: bold;
        font-size: 16px;
        font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
        box-shadow: 15px 15px 9px #D5DCEC, -6px -6px 3px #ffffff;
        text-shadow: 2px 2px 4px #2d8f3d, -2px -2px 4px #a0f7ae;
        &:hover {
            filter: brightness(110%);
          }
    }
    p {
        margin: 15px 0px;
        color: $font-color;
        font-weight: 100;
        font-size: 13px;
    }
}

