.alert {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
    text-align: center;
    padding: 2px 0px;
    background-color: #f3770b;
    color: #1d0e01;
    font-size: 13px;
    letter-spacing: 0.05em;
    position: relative;
    top: 74px;
    height: 15px;
    line-height: 16px;
}

