.alert {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
    text-align: center;
    padding: 0px;
    background-color: #F09240;
    color: #fdfdfc;
    font-size: 15px;
    letter-spacing: 0.05em;
    position: relative;
    top: 73px;
    height: 20px;
    line-height: 20px;
    outline: none;
    border: none;
}

