@import "_variables";

.alert {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
    text-align: center;
    padding: 5px 0px;
    background-color: $complementary-color;
    color: #fffefd;
    font-size: 16px;
    letter-spacing: 0.03em;
    height: 22px;
    line-height: 20px;
    outline: none;
    border: none;
}

