@import "_variables";

body {
    footer {
        background: $main-color;
        position: relative; 
        padding: 10px 0px 0px;
        margin: 50px 0px 0px;
        height: 150px;
        P {
            color: $main-white-font-color;
        }
        
    }
}

/* デザインC(PC) */
@media screen and (max-width: 960px)  {
    /* PC用レイアウト 960px以上の範囲に収めるデザインはこの中に記述 */
    
}

/* デザインB（タブレット） */
@media screen and (max-width: 600px) {
    /* タブレット用レイアウト 600px以上の範囲に収めるデザインはこの中に記述 */
    body {
        footer {
            text-align: center;
            width: 100%;
            height: 150px;
        }
    }
}