@import "_variables";

.alart {
    top: 0px;
}
.item_list_new  {
    color: $font-color;
    background: $card_color;
    height: 100%;
    margin: 110px auto;
    padding: 38px 50px;
    width: 590px;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .wrap_formhead {
        display: flex;
        p {
            font-size: 30px;
            font-weight: bold;
            color: rgb(252, 252, 252);
            margin: 0px 0px 0px 60px;
            padding: 0px 0px 26px 0px;
            text-align: center;
        }
        .wrap_formhead_username {
            margin: 0px 0px 0px 5px;
        }
    }
    form {
        text-align: center;
        margin: 0px auto;
        color: rgb(223, 221, 221);
        .item_list_label_name {
            display: block;
            font-size: 14px;
            font-weight: 100;
            text-align: left;
            margin-left: 1px;
        }

        #item_list_list_name { 
            width: 95%;
            padding: 12px 0px 12px 12px;
            margin: 6px 19px 26px 0px;
            background-color: rgb(247, 245, 245);
            border-radius: 5px;
            border: none;
            outline: none;
            font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
        }  
        #item_list_list_description { 
            width: 95%;
            padding: 12px 0px 12px 12px;
            margin: 6px 19px 26px 0px;
            background-color: rgb(247, 245, 245);
            border-radius: 6px;
            border: none;
            outline: none;
            font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
        }  

        .wrap {
            display: flex;
            .img_label {
                margin: 0;
                img {
                    width: 48px;
                    height: 48px;
                    border-radius: 4px 0px 0px 4px;
                }
            }
            .img_name {
                background-color: #DBDBDB;
                line-height: 47px;
                color: #757575;
                white-space: nowrap;
                height: 22px;
                font-size: 18px;
                padding: 0px 12px 26px 8px;
                border-radius: 0px 4px 4px 0px;
                font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                font-weight: 400;
            }
        }
        .chechbox {
            text-align-last: left;
        }
        .submit{
            text-align-last: right;
            .item_list_submit {
                padding: 13px 25px;
                background: $card-color;
                border: none;
                border-radius: 4px;
                color: $accent-color;
                font-size: 17px;
                border-radius: 4px;
                margin: 0px 19px 0px 0px;
                font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                border-radius: 5px;
                border: solid 2px $accent-color;
                &:hover {
                    filter: brightness(110%);
                  }
            }
        }
    }
}