@charset "UTF-8";
@import "_variables";

header {
    background-color: $main-color;
    height: 73px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10000;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    border-bottom: solid 1px #2d2d3a;
    .nav_logo {
        display: flex;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
        margin: 0px 70px;
        vertical-align: middle;
        .neuron {
            background: #fff;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin: auto 0px;
            img {
            display: block;
            margin-top: 2px;
            width: 42px;
            height: 42px;
            }  
        }
        .title {
            margin: auto 6px; 
            color: #f3ebf1; 
            font-size: 27px; 
            white-space: nowrap  
        }
    }

    ul {
        list-style-type: none;
        display: flex;
        margin: 20px 70px;
        height: 35px;
        li {
            margin-left: 20px;
            padding: auto 0px;
            font-weight: bold;
            line-height: 30px;
            a.plus {
                font-size: 21px;
                display: inline-block;
                text-align: center;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background: $accent-color;
                color: #ecf3ec;
                font-weight: lighter;
            }
            a  {
                color: $font-color;  
                text-decoration: none;
                vertical-align: middle;
            }
            .signup {
                color: #e2d8df;
            }
            .login{
                color: #e2d8df;
            }
            .username {
                color: #eee3eb;
                display: block;
                height: 35px;
            }
        }
        
        .button_Signup {
            text-decoration: none;
            margin-right: 15px;
        }
    }
}

