@charset "UTF-8";
@import "_variables";

header {
    background: $main-color;
    height: 60px;
    padding: 1px 0px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10000;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0px 80px 0px 80px;
    a.nav_logo {
        display: block;
        display: flex;
        font-size: 20px;
        text-decoration: none;
        vertical-align: middle;
        margin: auto 0px;
        .nav_img_box {
            .nav_img {
                position:relative; 
                right: -2px;
                margin: 0px 0px 0px 0px;
                background-color: $accent-color;
                background: linear-gradient(to bottom, $accent-color, #c92c7d);
                border-radius: 4px;
                transform:skewX(-10deg); 
                span {
                display: block;
                transform:skewX(10deg); 
                font-size: 36px;
                padding: 5px 8px;
                color: $navfont-color;
                
                }
            }

        }
        
        .nav_title {
            display: flex;
            .title {
                font-family: 'Exo', sans-serif;
                color: $navfont-color; 
                line-height: 1.5em;
                font-size: 33px; 
                letter-spacing: -2px;
                margin: auto 0px;
                white-space: nowrap;
                padding: 0px;
                position:relative; 
                right: -3px;
                top: 1px;
            }
        }  
    }
    ul.menu_right {
        list-style-type: none;
        display: flex;
        color: $navfont-color;
        padding: 0;
        margin: 12px 0px;
        .plus_box {
            display: flex;
            &:hover {
                filter: brightness(120%);
                transition: 0.1s;
              }
            li {
                a.plus {
                    background: $accent-color;
                    text-decoration: none;
                    vertical-align: middle;
                    display: inline-block;
                    text-align: center;
                    width: 35px;
                    height: 35px;
                    font-weight: 300;
                    font-size: 32px;
                    color: $navfont-color;
                    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                    position:relative; 
                    top: 0px; 
                    left: 10px;
                    padding: 2px 0px 2px 5px;
                    border-radius: 8px 0px 0px 8px;
                }
                .plus_itemlist {
                    background: $accent-color;
                    white-space: nowrap;
                    text-decoration: none;
                    vertical-align: middle;
                    color: $navfont-color;
                    display: block;
                    font-weight: bold;
                    font-size: 15px;
                    height: 35px;
                    margin: 0px 0px 0px 8px;
                    padding: 2px 14px 2px 2px;
                    line-height: 2.3em;
                    letter-spacing: 0em;
                    border-radius: 0px 8px 8px 0px;
                    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                }
            }
        }
        li {
            padding: auto 0px;
            font-weight: 400;
            line-height: 30px;
            font-weight: 100;
            color: $navfont-color;
            .signup {
                white-space: nowrap;
                display: block;
                text-decoration: none;
                vertical-align: middle;
                color: $font-color;
                font-weight: bold;
                font-size: 17px;
                background: $accent-color;
                padding: 3px 17px;
                border-radius: 8px;
                margin: auto 10px;
                border: solid 2px $accent-color;
                position: relative;
                bottom: 1px;
                &:hover {
                    filter: brightness(130%);
                    transition: 0.1s;
                  }
            }
            .login{
                white-space: nowrap;
                display: block;
                text-decoration: none;
                vertical-align: middle;
                color: $accent-color;
                font-weight: bold;
                font-size: 17px;
                background: $main-color;
                padding: 3px 17px;
                border-radius: 8px;
                margin: auto 0px;
                border: solid 2px $accent-color;
                position: relative;
                bottom: 1px;
                &:hover {
                    filter: brightness(130%);
                    transition: 0.1s;
                  }
            }
            
            
        }
        .button_Signup {
            text-decoration: none;
            margin-right: 15px;
        }
    }
    ul.menu {
        list-style: none;
        color: white;
        padding: 0px 0px 0px 4px;
        position: relative;
        bottom: 4px;
        left: 5px;
        li {
            list-style: none;
            &:hover {
                filter: brightness(120%);
                transition: 0.1s;
              }
            a {
                color: white;
                span {
                    font-size: 46px;
                    color: $navfont_color;
                }
                
            }
        }
    }  
    .menu ul {
        display: none;
    }
    .menu ul.active {
        font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
        display: block;
        position: fixed;
        padding: 0;
        margin: 0px 0px 0px 0px;
        li {
            position: relative;
            right: 142px;
            display: flex;
            img {
                display: block;
                width: 20px;
                height: 20px;
                position: relative;
                top: 15px;
                left: 40px;
            }
            .logout {  
                box-shadow: 0 0 20px #114775;
                text-decoration: none;
                background: #fbfbfd;
                border-radius: 2px;
                padding: 10px 50px 10px 55px ;
                color: $font-color;
                font-size: 18px;
                font-weight: 500;
                &:hover {
                    background-color: $card-color;
                  }

            }   
        } 
    }
}


@media screen and (max-width: 640px) {
    nav {
        padding: 0px 20px;
        justify-content: left;
        #item_list_search {
            margin: 10px 0px 10px 10px;
            width: 100px;
            #q_list_name_cont {
                width: 100px; 
            }
        }

    }
}