@charset "UTF-8";

header {
    background-color: #FFCE00;
    height: 73px;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
    .nav_logo {
        font-family: "SF Pro JP", "SF Pro Text", "Apple TP", "Myriad Set Pro", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 21px;
        color: #413D45;
        text-decoration: none;
        margin: 20px 20px;
        line-height: 30px;
    }

    ul {
        font-family: 'sans-serif';
        list-style-type: none;
        display: flex;
        margin: 20px 25px;
        li {
            margin-left: 10px;
            a  {
                color: #413D45;
                text-decoration: none;
            }
        }
        
        .button_Signup {
            text-decoration: none;
            margin-right: 15px;
        }
    }
}

