.under_navbar{
    width: 100%;
    background-color: rgb(231, 231, 231);
    color: #fff;
    text-align: center;
    padding: 30px 0;
    position: fixed;
    left: 0;
    bottom: 0;
}

@media screen and (max-width: 600px) {
    
}