@import "_variables";

nav {
    ul.bottom_menu {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 30;
        background: white;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
        margin: 0;
        li {
            table-layout: fixed;
            width: 55px;
            padding: 0px;
            list-style: none;
            text-align: center;
            .under_nav_add {
                width: 80px;
                span {
                    color: white;
                    background: $accent-color;
                    font-size: 50px;
                    border-radius: 50%;
                    padding: 10px;
                    position: relative;
                    bottom: 55px;
                    font-weight: bold;
                }  
            }
            a {
                text-decoration: none;
                span {
                    color: $main-dark-sub-font-color;
                    font-size: 28px;
                }
                p {
                    font-family: 'M PLUS Rounded 1c', sans-serif;
                    margin: 0; 
                    text-align: center;
                    font-size: 4px;
                    color: $main-dark-sub-font-color;
                }
                
            }
            
            
        }
    }
}


/* smartPhone */
@media screen and (max-width: 600px) {
    nav {
        ul.bottom_menu {
        } 
    }
}

