$base-color: #0154a7;
$main-color: #003295;
$submit-color:#161C1D;
$accent-color:hsl(353, 99%, 66%);
$card-color: #1e7edd;
$complementary-color:#fa973b;

$navfont-color: #ededee;
$font-color: #fcfcfd;
$subfont-color: #d3d3d4;
$list-category-title: #f9f9fa;
$list-category-underline-color:#a09ebe;



        