$base-color: #E5EDF5;
$main-color: #243441;
$accent-color:#3dc954; 

$submit-color:#06131f;
$submit-sub-color:#61c514;
$card-color: #fbfbfd;
$submit-card-color: #f6f8fa;
$complementary-color:#f9ae5d;
$gray-color:#767777;
$type-back-color:#dfe5eb;

$sord-color:#ca6875;
$shield-color:rgb(107, 162, 194);

$navfont-color: #cfcfd1;
$font-color: #414242;
$subfont-color: #c5daf0;
$third-font-color: #767777;
$submit-font-color: #fcfdfc;
$gray-font-color: #3f3f47;
$card-font-color: #eff1f3;
$text-font-color: #232324;
$price-font-color: #5a5a66;

$list-category-title: #f9f9fa;
$list-category-underline-color:#a09ebe;
$hover-color:#e9e9ec;


