$base-color: #62A2BB;
$main-color: #242323;
$accent-color:#e65064;
$submit-color:#161C1D;
$card-color: #e3e3e9;
$complementary-color:#f29743;

$navfont-color: hsl(0, 5%, 87%);
$font-color: #242323;
$subfont-color: #a09e9e;

$list-categorytitle: #f9f9fa;
$list-category-underline-color:#a09ebe;



        