// Place all the styles related to the item_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "_variables";

p {
    color: $font-color;
    font-family: 'sans-serif';
}       

.item_list_new  {
    color: $font-color;
    background-color: $card-color;
    height: 100%;
    margin: 100px 190px;
    padding: 26px;
    p {
        text-align: left;
        font-size: 25px;
        font-weight: bold;
        color: #f8f4f2;
        margin: 0;
        padding: 0px 0px 26px 0px;
    }

    form {
        text-align: center;
        margin: 0px auto;
        .item_list_label_name {
            display: block;
            font-size: 14px;
            text-align: left;
        }

        #item_list_list_name { 
            width: 100%;
            padding: 9px 0px;
            margin: 5px 0px 26px 0px;
        }  

        .item_list_label_image {
            display: block;
            font-size: 14px;
            text-align: left;
        }
        
        #item_list_image {
            width: 100%;
            padding: 9px 0px;
            margin: 5px 0px 26px 0px;
        }
        .chechbox {
            text-align-last: left;

        }
        .submit{
            text-align-last: right;
            .item_list_submit {
                padding: 13px 25px;
                background-color: #01d8ad;
                border: #01d8ad;
                border-radius: 50px;
                color: #F5FCFA;
            }
        }
    }
}

.item_list_show {
    .item_list_show_box {
        color: $font-color;
        background-color: $card-color;
        width: 560px;
        height: 600px;
        margin: 70px auto;
        p {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            padding: 20px;
        }
        a {
            color: $font-color;
            text-decoration: none;
        }
    }
}

.item_list_edit {
    color: $font-color;
    background-color: $card-color;
    margin-top: 80px;
    a {
        color: $font-color;
            text-decoration: none;
    }
}


