// Place all the styles related to the item_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

p {
    color: #413D45;
    font-family: 'sans-serif';
}   

.item_list_new  {
    background-color: #FFFFFF;
    margin: 50px 190px;
    p {
        text-align: left;
        color: #4A4A4A;
        font-size: 24px;
        margin: 0;
        padding: 26px 52px;
    }

    form {
        text-align: center;
        margin: 0px auto;

        .item-list-label-name {
            margin-left: -494px;
            font-size: 14px;
            color: #4A4A4A;
        }

        #item_list_list_name {
            width: 560px;
            padding: 13px 0px;
            margin: 0px 0px 26px 0px;
        }  

        .item-list-label-image {
            margin-left: -493px;
            font-size: 14px;
            color: #4A4A4A;
        }
        
        #item_list_image {
            margin-left: -312px;
            padding: 3px 0px;
        }
        .submit{
            text-align-last: right;
            .item-list-submit {
                margin: 26px 55px;
                padding: 8px;
                background-color: #1DB954;
                border: #1DB954;
                border-radius: 50px;
            }
        }
    }
}

.item_list_show {
    background-color: #FFFFFF;
    width: 560px;
    height: 600px;
    margin: 50px auto;
    p {
        
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        padding: 20px;
    }
}
