// Place all the styles related to the item_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

p {
    color: #413D45;
    font-family: 'sans-serif';
}   

.item_list_new form {
    text-align: center  ;
    margin: 40px auto;

    .item-list-label-name {
        margin-left: -494px;
        font-size: 14px;
        color: #4A4A4A;
    }

    #item_list_list_name {
        width: 560px;
        padding: 13px 0px;
        margin: 0px 0px 26px 0px;
    }  

    .item-list-label-image {
        margin-left: -493px;
        font-size: 14px;
        color: #4A4A4A;
    }
    
    #item_list_img {
       
    .item-list-submit {
        margin: 26px;
    }
}

