// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "_variables";

.item_new {
    color: $font-color;
    background-color: $card-color;
    height: 100%;
    margin: 100px 190px;
    padding: 30px;
    h1 {
        text-align: left;
        font-size: 25px;
        font-weight: bold;
        color: #f8f4f2;
        margin: 0;
        padding: 0px 0px 26px 0px;
    }
    .productname{
        
    }
    #item_item_name {
        padding: 9px 0px;
    }
    .submit{
        text-align-last: right;
        
        .item_list_submit {
            margin: 23px 42px 0px 0px;
            padding: 13px 25px;
            background-color: #01d8ad;
            border: #01d8ad;
            border-radius: 50px;
            color: #F5FCFA;
        }
    }
}