// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "_variables";

.loginform {    
    width: 330px;
    height: 180px; 
    margin: 160px auto ;
    padding: 25px 60px 140px;
    background: $card-color;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    h1 {
        color: #edebf1;
        font-size: 39px;
    }
    #session_email {
        width: 95%;
        text-align: left;
        margin: 10px 0px 12px;
        padding: 10px 10px;
        font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
    }
    #session_password {
        width: 95%;
        text-align: left;
        padding: 10px 10px;
        font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
    }
    .login_submit{
        text-align: right;
        margin: 22px 0px 0px 242px;
        padding: 13px 25px;
        background: $card-color;
        border: #edebf1;
        border-radius: 4px;
        color: $accent-color;
        font-weight: bold;
        font-size: 15px;
        border: solid 2px $accent-color;
        &:hover {
            filter: brightness(115%);
          }
    }
}