// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "_variables";

.loginform {    
    width: 330px;
    height: 220px; 
    margin: 50px auto;
    padding: 25px 60px 140px;
    border-radius: 8px;
    background-color: #f0efef;
    border: none;            
    h1 {
        color: $font-color;
        font-size: 41px;
        font-family: 'M PLUS Rounded 1c', sans-serif;
    }
    #session_email {
        border-radius: 8px;
        border: none;
        width: 92%;
        text-align: left;
        margin: 2px 0px 16px;
        padding: 18px 0px 18px 22px;
        filter: brightness(108%);
        font-family: 'M PLUS Rounded 1c', sans-serif;
    }
    #session_password {
        border-radius: 8px;
        border: none;
        width: 92%;
        margin: 0px 0px 20px 0px;
        text-align: left;
        padding: 18px 0px 18px 22px;
        background: $base-color;
        filter: brightness(108%);
        font-family: 'M PLUS Rounded 1c', sans-serif;
    }
    .login_submit{
        display: block;
        padding: 14px 25px;
        background: $accent-color;
        border-radius: 40px;
        color: $main-white-font-color;
        font-weight: bold;
        font-size: 16px;
        border-radius: 50px;
        background: $accent-color;
        margin-left: auto;
        border: none;
        text-align: center;
        &:hover {
            filter: brightness(104%);
          }
    }
}

/* smartPhone */
@media screen and (max-width: 600px)  {
    .loginform{
        width: 90%;
        padding: 0;
        margin: 100px auto 150px;
        padding: 10px 20px 370px;
        box-sizing: border-box;
        form {
            #session_email {
            }
            input.login_submit {
                display: block;
                border: none;        
                margin-left: auto;
                text-align: center;
            }
        }
    }


}