// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "_variables";

.toppage_login {
    padding: 125px 0px 100px 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .face_box {
        display: flex;
        height: 27px;
        margin: 0px 0px 16px 40px;
        span {
            font-size: 28px;
            margin: 5px 5px 0px 0px;
            color: $font-color;
        }
        .login_username {
            font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
            margin: 2px 0px 20px 4px;
            padding: 0px 0px 0px 0px;
            color: $font-color;
            font-size: 27px;
            font-weight: 700;
        }
    }
    p {
        color: $subfont-color;
    }
    form.item_list_search {
        display: flex;
        margin: 20px 50px 0px 40px;
        color: $subfont_color;
        height: 38px;
        input {
            width: 350px;
            height: 48px;
            padding-left: 13px;
            border: none;
            border-radius: 0px 40px 40px 0px;
            outline: none;
            background: $card-color;
            font-size: 16px;
            letter-spacing: -0.01em;
            line-height: 3em;
            font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
            position: relative;
            left: 37px;
            background: #f6f7f8;
        box-shadow: inset 4px 4px 10px #c3c9d0,inset -4px -4px 10px #ffffff;
            &::placeholder{
                color: $font_color;
            }
            &:focus {
                background: $card_color;
            }
        }
        #search {
            height: 36px;
            border: none;
            padding: 5px 0px 43px 20px;
            background: $card-color;
            border-radius: 40px 0px 0px 40px;
            position:relative;
            top: 0px;
            left: -349px;
            outline: none; 
            vertical-align: middle;
            background: #f6f7f8;
            box-shadow: inset 4px 4px 10px #c3c9d0,inset -4px -4px 10px #ffffff;
            span {
                margin: 7px 0px 0px 0px;
            }
        }
    }
    .article_category_index {
        display: flex;
        width: 1025px;
        margin: 60px auto 0px;
        border-bottom: solid 1px #dbd1b1;
        p {
            font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
            font-size: 18px;
            font-weight: 500;
            margin: 0px 30px 15px 0px;
        }
    }
    .article_index_title_box {
        display: flex;
        width: 870px;
        margin: 20px auto;
        span {
            display: block;
            font-size: 29px;
            color: $font-color;
            margin: 1px 3px 0px 0px;
        }
        p {
            font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
            margin: 0px 0px 0px 0px;
            padding: 0px 0px 0px 0px;
            font-size: 31px;
            font-weight: 700;
            color: $font-color;
            text-align-last: left;
        }
    }
    .article_index {
        padding: 0px 40px 0px 40px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0px auto;
        display: flex;
        width: 870px;
        ul.article_index_wrap {
            padding: 0px 0px 20px 0px;
            margin: 0px auto;
            list-style: none;
            display: flex;
            flex-wrap:wrap;
            justify-content: space-between;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            &::after {
                display: block;
                content:"";
                width: 300px;
                }
            li {
                width: 266px;
                margin: 0px 0px 45px 0px; 
                padding: 0px 0px 11px; 
                text-align: center;
                border-radius: 10px;
                position: relative; 
                background: $base-color;
                box-shadow: 5px 5px 11px #d9d3c3,
                            -5px -5px 11px #fffde9;              
                font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                .article_topimg {   
                    a {
                        display: block;
                        &:hover {
                            filter: brightness(90%);
                          
                        } 
                        img {  
                            filter: saturate(120%);
                            border-radius: 7px;
                            width: 240px;
                            height: 200px;
                            max-width: 100%;
                            object-fit: cover;
                            margin: 13px 0px 0px 0px;
                        }
                    }
                }
                .article_word_box {
                    margin: 0px 7px 0px 7px;
                    min-height: 70px;
                    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                    .article_category {
                        height: 40px;
                        .face_type_box {
                            display: flex;
                            border-radius: 50%;                    
                            margin: 4px 0px 4px 0px;
                            height: 51px;
                            .condition {
                                font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                                color: $font-color;
                                margin: 0;
                                margin: 10px 11px 0px;
                                font-weight: 700;
                                letter-spacing: 0.01em;
                                font-size: 18px;
                                span {
                                    font-size: 23px;
                                }
                            }
                            span {
                                display: block;
                                padding: 2px;
                                margin: 5px 0px 0px 0px;
                                font-size: 25px;
                            }
                        }
                    }
                    .article_title {   
                        margin: 0px 9px 0px 11px;
                        .title_name {
                            a {
                                height: 42px;
                                font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                                margin: 0px 0px 10px 0px;
                                max-width: 270px;
                                color: $font-color;
                                font-size: 19px;
                                font-weight: 700;
                                display: block;    
                                text-decoration: none;
                                text-align: justify;
                                text-overflow: ellipsis;
                                letter-spacing: -0.04em;
                                z-index: 1;
                            }
                        }        
                    }
                    p.user_name {
                        font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                        text-align: left;
                        color: $third-font-color;
                        letter-spacing: -0.02em;
                        font-size: 14px;
                        font-weight: 400;
                        margin: 20px 0px 0px 12px;
                    }
                }
            }
        }
    }
    .cheacker_card_box {
        display: flex;
        padding: 0px 0px 0px;
        margin: 0px 44px 80px 51px;
        border-radius: 20px;
        box-shadow: 5px 5px 11px #d9d3c3,
                    -5px -5px 11px #fffde9;
        .checker_word {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-align: left;
            padding: 20px 0px 40px;
            background-size: 250px 250px;
            height: 300px;  
            .checker_word_top {
                padding: 1px;
                margin: 0px 80px 0px 53px ;
                font-size: 38px;
                color: $font-color;
                letter-spacing: -0.05em;
                white-space: nowrap;
                img {
                    height: 35px;
                    position: relative;
                    top: 4px;
                }
            }
            .checker_word_middle {
                margin: 0px 80px 8px 53px;
                font-size: 17px;
                text-decoration: none;
                color: $font-color;
                white-space: nowrap;
                letter-spacing: -0.05em;
            }
            .checker_word_bottom {
                margin: 0px 80px 20px 53px;
                font-size: 17px;
                text-decoration: none;
                color: $font-color;
                white-space: nowrap;
                letter-spacing: -0.05em;
            }
            a.checker_submit {
                display: flex;
                text-align-last: center;
                text-decoration: none;
                background: $accent-color;
                width: 230px;
                font-weight: 800;
                border-radius: 5px;
                white-space: nowrap;
                vertical-align: middle;
                border: none;
                border-radius: 40px;
                padding: 5px 40px 5px 80px; 
                margin: 0px 80px 0px 53px;
                box-shadow: 6px 6px 8px 4px #bbc2bb,
                            -6px -6px 8px 4px #ffffff;  
                &:hover {
                    filter: brightness(110%);
                    transition: 0.2s;
                } 
                span {
                    display: block;
                    font-size: 27px;
                    margin: 3px 0px 0px 3px;
                    position: relative;
                    left: 5px;
                    top: 6px;
                    color: $submit-font-color;
                }
                p {
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-weight: 700;
                    font-size: 20px;
                    margin: 11px 15px;
                    color: $submit-font-color;
                }          
            }
        }
        .checker_top_img {
            margin: 0px;
                padding: 0px;
            img {
                display: block;
                width: 280px;
                position: relative;
                top: 40px;
                left: 40px;
                filter: grayscale(15%);
            }            
            
        }
    }
}   

.toppage_logout {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
    .logout_image {
        width: 870px;
        height: 420px;
        background: url("/assets/") no-repeat center center;
        background-size: 50%;
        background-position: 93% 40%;
        background-blend-mode: overlay;
        padding: 90px 40px 0px 40px;
        margin: 0px auto;
        display: flex;
        .logout_top_left_word {
            text-align: left; 
            h1 {
                font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                font-size: 49px;
                margin: 37px 0px 0px 0px;
                color: $font-color;
                letter-spacing: -0.2em;
                white-space: nowrap;
                line-height: 1.1em;
                font-weight: 800;
                .top_word_bottom {
                    position: relative;
                    right: 33px;
                }
            }
            p.middle {
                font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                font-size: 18px;
                text-decoration: none;
                margin: 8px 0px 0px 0px;
                color: $font-color;
                font-weight: 200;
                letter-spacing: -0.05em;
                line-height: 1.7em;
                img {
                    height: 55px;
                    position: relative;
                    top: 20px;
                    left: 10px;
                }
            }
            .logout_image_box {
                
            }
            .box_login {
                .test_login {
                    form {
                        position: relative;
                        right: 30px;
                        &:hover {
                            filter: brightness(110%);
                        } 
                        span {
                            position: relative; 
                            top: 6px;
                            left: 115px;  
                            font-size: 26px;
                            color: $submit-font-color;
                            // text-shadow:  2px 2px 4px #2d8b4d,-2px -2px 4px #b8f3ce;
                        }
                        input {
                            font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                            color: $submit-font-color;
                            background: $accent-color;
                            width: 350px;
                            height: 20;
                            font-size: 19px;
                            font-weight: 600;
                            border: none;
                            border-radius: 40px;
                            padding: 15px 0px 15px 40px; 
                            margin: 15px 0px 0px 0px;  
                            box-shadow: 6px 6px 8px 4px #bbc2bb,
                                        -6px -6px 8px 4px #ffffff;
                        }
                    }
                }        
            }
        }
        .logout_top_right_img {
            img {
                display: block;
                width: 430px;
                margin:40px 0px 0px 40px;
                border-radius: 20px;
                box-shadow: 0 0 20px #42be80a8;
            }
        }
    }  
    .cheacker_card_box {
        display: flex;
        padding: 0px 0px 0px;
        margin: 0px 44px 80px 51px;
        border-radius: 20px;
        box-shadow: 5px 5px 11px #d9d3c3,
                    -5px -5px 11px #fffde9;
        .checker_word {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-align: left;
            padding: 20px 0px 40px;
            background-size: 250px 250px;
            height: 300px;  
            .checker_word_top {
                padding: 1px;
                margin: 0px 80px 0px 53px ;
                font-size: 38px;
                color: $font-color;
                letter-spacing: -0.05em;
                white-space: nowrap;
                img {
                    height: 35px;
                    position: relative;
                    top: 4px;
                }
            }
            .checker_word_middle {
                margin: 0px 80px 8px 53px;
                font-size: 17px;
                text-decoration: none;
                color: $font-color;
                white-space: nowrap;
                letter-spacing: -0.05em;
            }
            .checker_word_bottom {
                margin: 0px 80px 20px 53px;
                font-size: 17px;
                text-decoration: none;
                color: $font-color;
                white-space: nowrap;
                letter-spacing: -0.05em;
            }
            a.checker_submit {
                display: flex;
                text-align-last: center;
                text-decoration: none;
                background: $accent-color;
                width: 230px;
                font-weight: 800;
                border-radius: 5px;
                white-space: nowrap;
                vertical-align: middle;
                border: none;
                border-radius: 40px;
                padding: 5px 40px 5px 80px; 
                margin: 0px 80px 0px 53px;
                box-shadow: 6px 6px 8px 4px #bbc2bb,
                            -6px -6px 8px 4px #ffffff;  
                &:hover {
                    filter: brightness(110%);
                    transition: 0.2s;
                } 
                span {
                    display: block;
                    font-size: 27px;
                    margin: 3px 0px 0px 3px;
                    position: relative;
                    left: 5px;
                    top: 6px;
                    color: $submit-font-color;
                }
                p {
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-weight: 700;
                    font-size: 20px;
                    margin: 11px 15px;
                    color: $submit-font-color;
                }          
            }
        }
        .checker_top_img {
            margin: 0px;
                padding: 0px;
            img {
                display: block;
                width: 280px;
                position: relative;
                top: 40px;
                left: 40px;
                filter: grayscale(15%);
            }            
            
        }
    }
    .article_index_title_box {
        display: flex;
        width: 870px;
        margin: 20px auto;
        span {
            display: block;
            font-size: 29px;
            color: $font-color;
            margin: 1px 3px 0px 0px;
        }
        p {
            font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
            margin: 0px 0px 0px 0px;
            padding: 0px 0px 0px 0px;
            font-size: 31px;
            font-weight: 700;
            color: $font-color;
            text-align-last: left;
        }
    }
    p.current_user {
        margin: 0px 0px 10px 120px;
        font-size: 25px;
        font-weight: 800;
        letter-spacing: -0.03em;
        width: 470px;
        margin: 0px auto;
    }
    .checker_wrap {
        display: flex;
        width: 470px;
        margin: 0px auto;
        font-size: 25px;
        font-weight: 800;
        letter-spacing: -0.03em;
        p {
            margin: 10px 0px 0px 0px;
        }
        a.checker_submit {
            display: flex;
            text-align-last: center;
            text-decoration: none;
            background: $accent-color;
            width: 145px;
            font-weight: 800;
            border-radius: 5px;
            white-space: nowrap;
            vertical-align: middle;
            border: none;
            border-radius: 40px;
            padding: 5px 40px 5px 10px; 
            margin: 0px 0px 50px 53px;
            box-shadow: 6px 6px 8px 4px #bbc2bb,
                        -6px -6px 8px 4px #ffffff;  
            &:hover {
                filter: brightness(110%);
                transition: 0.2s;
            } 
            span {
                display: block;
                font-size: 25px;
                margin: 3px 0px 0px 3px;
                position: relative;
                left: 7px;
                top: 6px;
                color: $submit-font-color;
            }
            p {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: 700;
                font-size: 18px;
                margin: 11px 15px;
                color: $submit-font-color;
            }          
        }
        .condition_category_icon {
            display: flex;
            margin: 10px 0px 50px;
        }
    }
    .article_index_category_name {
        font-size: 35px;
        font-weight: 600;
        padding: 0px 40px 30px 40px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0px auto;
        display: flex;
        width: 860px;
    }
    .article_index {
        padding: 0px 40px 0px 40px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0px auto;
        display: flex;
        width: 860px;
        ul.article_index_wrap {
            padding: 0px 0px 20px 0px;
            margin: 0px auto;
            list-style: none;
            display: flex;
            flex-wrap:wrap;
            justify-content: space-between;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            &::after {
                display: block;
                content:"";
                width: 300px;
                }
            li {
                width: 266px;
                margin: 0px 0px 45px 0px; 
                padding: 0px 0px 11px; 
                text-align: center;
                border-radius: 10px;
                position: relative; 
                background: #f8f7f5;
                box-shadow: 5px 5px 11px #d9d3c3,
                            -5px -5px 11px #fffde9;              
                font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                filter: brightness(103%);
                .article_topimg {   
                    a {
                        display: block;
                        width: 267px;
                        &:hover {
                            filter: brightness(90%);
                          
                        } 
                        img {  
                            filter: saturate(120%);
                            border-radius: 7px 7px 0px 0px;
                            width: 264px;
                            height: 142px;
                            max-width: 100%;
                            object-fit: cover;
                            margin: 0px 0px 0px 0px;
                        }
                    }
                }
                .article_word_box {
                    margin: 0px 7px 0px 7px;
                    min-height: 70px;
                    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                    .article_category {
                        height: 40px;
                        .face_type_box {
                            display: flex;
                            border-radius: 50%;                    
                            margin: 4px 0px 4px 0px;
                            height: 51px;
                            .condition {
                                font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                                color: $font-color;
                                margin: 0;
                                margin: 10px 11px 0px 8px;
                                font-weight: 700;
                                letter-spacing: 0.01em;
                                font-size: 17px;
                                span {
                                    font-size: 23px;
                                }
                            }
                            span {
                                display: block;
                                padding: 2px;
                                margin: 5px 0px 0px 0px;
                                font-size: 25px;
                            }
                        }
                    }
                    .article_title {   
                        margin: 0px 9px 0px 8px;
                        .title_name {
                            a {
                                height: 42px;
                                font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                                margin: 0px 0px 10px 0px;
                                max-width: 270px;
                                color: $font-color;
                                font-size: 18px;
                                font-weight: 700;
                                display: block;    
                                text-decoration: none;
                                text-align: justify;
                                text-overflow: ellipsis;
                                letter-spacing: -0.04em;
                                z-index: 1;
                            }
                        }        
                    }
                    .artcle_user_info {
                        display: flex;
                        margin: 20px 0px 0px 0px;
                        height: 37px;
                        .user_info_face_img {
                            margin: 0px 0px 0px 5px;
                            span {
                                font-size: 32px;
                                color: $gray-color;
                            }
                        }
                        .user_box {
                            margin: 0px 0px 0px 5px;
                            .user_name {
                                display: flex;
                                font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                                text-align: left;
                                color: $third-font-color;
                                letter-spacing: 0.02em;
                                font-size: 13px;
                                font-weight: 400;
                                margin: 0px 0px 0px 0px;
                            }
                            .user_create_time {
                                font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                                text-align: left;
                                color: $third-font-color;
                                letter-spacing: 0.01em;
                                font-size: 12px;
                                font-weight: 400;
                                margin: 2px 0px 0px 0px;
                                span {
                                    font-size: 14px;
                                    margin: 0px 0px 0px 0px;
                                }
                            }
                        }  
                    }
                    
                }
            }
        }
    }
}
    
/* smartPhone */
@media screen and (max-width: 770px) {
    .toppage_login { 
        padding: 100px 0px;
        margin: 20px 0px 0px 30px;
        .face_box {
            
        }
        .article_index_title_box {
            
            margin: 70px 0px 30px;
        }
        .article_index {
            width: 285px;
            margin: 0px auto;
        }
    }
    .toppage_logout {
        .logout_image {
            padding: 0;
            margin: 115px auto;
            display: block;
            width: 400px;
            .logout_top_left_word {
                h1.top {
                    white-space: initial; 
                    margin: 0;
                    color: $font-color;
                }
                p.middle {
                    margin: 0;
                    color: $font-color;

                }
                .box_login {
                    .test_login {
                        form {
                            input {
                                margin: 0px 0px 0px 0px;
                            }
                        }
                    }
                }     
            }
            .logout_top_right_img {
                img {
                    width: 390px;
                    display: block;
                    padding: 0;
                    margin: 65px 0px 0px 0px;
                }
            }
        }
        .article_index_title_box {
            width: 285px;
            margin: 265px 30px 30px;
        }
        .article_index {
            width: 285px;
            margin: 0px auto;
        }
        .cheacker_card_box {
            margin: 0px 30px 0px 30px;

        }
        .logout_toppage {
            padding: 0px 20px;
        }
        
    }
}

@media screen and (max-width: 960px)  {
    .toppage_login {
      
    }
}