// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "_variables";

.toppage {
    padding-top: 73px;
    
    .user-name{
        display: flex;
        margin-top: 40px;
        color: #ACB6E5;
        background: -webkit-linear-gradient(0deg, #ACB6E5, #76f8e0);//背景色にグラデーションを指定
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        p.welcome {
            margin-left: 70px;
            color: #e8e8ec;
            font-size: 32px;
            letter-spacing: 0.03em;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        p.name {
            color: #e8e8ec;
            font-size: 32px;
            letter-spacing: 0.03em;
            margin-left: 10px;
            font-weight: bold;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        list-style: none;
        padding: 0px;
        margin: 30px 70px 0px 70px;
        li {
            width: 31%;
            height: 380px;
            margin: 0px 0px 50px 0px;  
            text-align: center;
            border-radius: 4px;
            position: relative;
            font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
            .box_text {   
                a {
                    width: 100%;
                    height: 30px;
                    color: #fdfdfd;
                    font-size: 21px;
                    font-weight: bold;
                    display: block;    
                    text-decoration: none;
                    text-align: left;
                    margin: 0px 0px 0px 10px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    letter-spacing: 0.01em;
                    z-index: 1;
                }
                .item_list_products {
                    text-align: left;
                    margin: 0px 0px 9px 10px;
                    font-size: 12px;
                    font-weight: 100;
                    color: #eff0f1;
                    z-index: 1;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
            }
            img {
                object-fit: cover;
                width: 100%;
                height: 280px;
                display:block;
                border-radius: 7px;
            }
        }
    }
}

.logout {
    text-align: center;
    padding-top: 73px;
    margin: 0px 0px 70px 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
    .logout_image {
        position: relative;
        height: 250px;
        img {
        width: 100%;
        height: 400px;
        box-sizing: border-box; 
        filter: contrast(1.7)saturate(0.7)brightness(0.7);
        }
        .logout_word {
            position: absolute;
            top: 80px;
            left: 60px;
            text-align: left;    
            h1 {
                font-size: 64px;
                padding: 10px 10px 10px 0px;
                color: $font-color;
                color: #f6f6f8;
            }
            a {
                color: $accent-color;
                text-decoration: none;
                display: block;
                padding-bottom: 1px;
            }
        }
    }  
}