// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "_variables";

.toppage_login {
    padding: 125px 0px 100px 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .face_box {
        display: flex;
        height: 27px;
        margin: 0px 0px 16px 80px;
        span {
            font-size: 28px;
            margin: 5px 5px 0px 0px;
            color: $font-color;
        }
        .login_username {
            font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
            margin: 2px 0px 20px 4px;
            padding: 0px 0px 0px 0px;
            color: $font-color;
            font-size: 27px;
            font-weight: 700;
        }
    }
    p {
        color: $subfont-color;
    }
    form.item_list_search {
        display: flex;
        margin: 20px 50px 10px 80px;
        color: $subfont_color;
        height: 38px;
        input {
            width: 350px;
            height: 48px;
            padding-left: 13px;
            border: none;
            border-radius: 0px 40px 40px 0px;
            outline: none;
            background: $card-color;
            font-size: 16px;
            letter-spacing: -0.01em;
            line-height: 3em;
            font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
            position: relative;
            left: 37px;
            background: #f6f7f8;
        box-shadow: inset 4px 4px 10px #c3c9d0,inset -4px -4px 10px #ffffff;
            &::placeholder{
                color: $font_color;
            }
            &:focus {
                background: $card_color;
            }
        }
        #search {
            height: 36px;
            border: none;
            padding: 5px 0px 43px 20px;
            background: $card-color;
            border-radius: 40px 0px 0px 40px;
            position:relative;
            top: 0px;
            left: -349px;
            outline: none; 
            vertical-align: middle;
            background: #f6f7f8;
            box-shadow: inset 4px 4px 10px #c3c9d0,inset -4px -4px 10px #ffffff;
            span {
                margin: 7px 0px 0px 0px;
            }
        }
    }
    .tool_box {
        display: flex;
        margin: 55px 0px 0px 82px;
        span {
            display: block;
            font-size: 29px;
            color: $font-color;
            margin: 1px 3px 0px 0px;
        }
        p {
            font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
            margin: 0px 0px 0px 8px;
            padding: 0px 0px 0px 0px;
            font-size: 20px;
            font-weight: 600;
            color: $font-color;
        }
    }
    .itemlist {
        padding: 0px 0px 0px 0px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 18px 78px 0px 83px;
        display: flex;
        ul.main {
            padding: 0px 0px 20px 0px;
            margin: 0px auto;
            list-style: none;
            display: flex;
            flex-wrap:wrap;
            justify-content: space-between;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            li {
                margin: 0px 0px 45px 0px; 
                padding: 0px 0px 18px; 
                background-color: $base-color;
                text-align: center;
                border-radius: 10px;
                position: relative; 
                background: #E5EDF5;
                box-shadow:  6px 6px 12px #c3c9d0,-6px -6px 12px #ffffff;
                font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                .itemlist_topimg {   
                    a {
                        display: block;
                        &:hover {
                            filter: brightness(90%);
                          
                        } 
                        img {  
                            filter: contrast(150%);
                            filter: saturate(150%);
                            border-radius: 10px 10px 0px 0px;
                            width: 300px;
                            height: 200px;
                            max-width: 100%;
                            object-fit: cover;
                            margin: 0px 0px 0px 0px;
                        }
                    }
                }
                .list_item_type_box {
                    .list_type_sord_box {
                        display: flex;
                        border-radius: 50%;                    
                        margin: 12px 0px 0px 0px;
                        height: 51px;
                        .list_item_type_name {
                            font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                            color: $font-color;
                            margin: 0;
                            margin: 13px 11px 0px;
                            font-weight: 600;
                            letter-spacing: 0.01em;
                            font-size: 18px;
                            span {
                                font-size: 23px;
                            }
                        }
                        span {
                            display: block;
                            padding: 2px;
                            margin: 5px 0px 0px 0px;
                            font-size: 25px;
                        }
                    }
                    .list_type_shield_box {
                        display: flex;
                        border-radius: 50%;
                        margin: 12px 0px 0px 0px;
                        height: 51px;
                        p.list_item_type_name {
                            font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                            color: $font-color;
                            margin: 0;
                            margin: 13px 11px 0px;
                            font-weight: 600;
                            letter-spacing: 0.01em;
                            font-size: 18px;
                            span {
                                font-size: 25px;
                            }
                        }
                        span {
                            display: block;
                            padding: 2px;
                            margin: 5px 0px 0px 0px;
                            font-size: 25px;
                        }
                    }
                    
                }
                .itemlist_word {   
                    margin: 0px 0px 0px 2px;
                    min-height: 70px;
                    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                    .box_text {   
                        margin: -7px 9px 0px 11px;
                        .list_name {
                            a {
                                font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                                margin: 0px 0px 10px 0px;
                                max-width: 270px;
                                color: $font-color;
                                font-size: 21px;
                                font-weight: 600;
                                display: block;    
                                text-decoration: none;
                                text-align: left;
                                text-overflow: ellipsis;
                                letter-spacing: 0em;
                                z-index: 1;
                            }
                        } 
                        .price {
                            font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                            text-align: left;
                            color: $price-font-color;
                            font-weight: 700;
                            letter-spacing: -0.02em;
                            font-size: 19px;
                            font-weight: 600;
                        }      
                        p {
                            font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                            text-align: right;
                            margin: 0px 0px 0px 0px;
                            color: $third-font-color;
                            letter-spacing: -0.02em;
                            font-size: 17px;
                            font-weight: 400;
                        }  
                    }          
                }
            }
        }
    }
    .cheacker_card_box {
        padding: 0px 80px 0px;
        margin: 0px 0px 80px 0px;
        .checker {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-align: left;
            padding: 20px 0px 40px;
            background-position: 0px -40px;
            height: 300px;
            border-radius: 20px;
            box-shadow: 5px 5px 10px #b3c9e2, -5px -5px 5px #f4f5f7;
            .checker_word_top {
                padding: 1px;
                margin: 0px 80px 0px 53px ;
                font-size: 38px;
                color: $font-color;
                letter-spacing: -0.05em;
                white-space: nowrap;
                img {
                    height: 35px;
                    position: relative;
                    top: 4px;
                }
            }
            .checker_word_middle {
                margin: 0px 80px 0px 53px;
                font-size: 17px;
                text-decoration: none;
                color: $font-color;
                white-space: nowrap;
                letter-spacing: -0.07em;
            }
            .checker_word_bottom {
                margin: 15px 80px 20px 53px;
                font-size: 17px;
                text-decoration: none;
                color: $font-color;
                white-space: nowrap;
                letter-spacing: -0.15em;
            }
            a.checker_submit {
                display: flex;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                text-align-last: center;
                text-decoration: none;
                background: $accent-color;
                width: 240px;
                font-weight: bold;
                border-radius: 5px;
                white-space: nowrap;
                letter-spacing: -0.06em;
                vertical-align: middle;
                border: none;
                border-radius: 40px;
                padding: 2px 40px 2px 80px; 
                margin: 0px 80px 0px 53px;
                &:hover {
                    filter: brightness(110%);
                    transition: 0.2s;
                } 
                span {
                    display: block;
                    font-size: 27px;
                    margin: 3px 0px 0px 3px;
                    position: relative;
                    left: 5px;
                    top: 9px;
                    color: $submit-font-color;
                    text-shadow: 2px 2px 4px #2d8f3d, -2px -2px 4px #a0f7ae;
                }
                p {
                    font-family: 'Exo', sans-serif, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                    font-size: 19px;
                    margin: 11px 15px;
                    color: $submit-font-color;
                    text-shadow: 2px 2px 4px #2d8f3d, -2px -2px 4px #a0f7ae
                }          
            }
        }
    }
}   

.toppage_logout {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
    .logout_image {
        padding: 0px 0px 0px 0px;
        height: 420px;
        background: url("/assets/top_img.png") no-repeat center center;
        background-size: 50%;
        background-position: 93% 40%;
        filter: brightness(95%);
        background-blend-mode: overlay;
        margin: 100px 80px 25px 80px;
        display: flex;
        border-radius: 20px;
        box-shadow:  6px 6px 7px #aab0b8,-4px -4px 3px #ffffff;
        .logout_word {
            text-align: left; 
            // position: relative;
            // top: -19px; 
            h1 {
                font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                font-size: 55px;
                margin: 30px 0px 0px 50px;
                color: #2d2f31;
                letter-spacing: -0.17em;
                white-space: nowrap;
                line-height: 1.1em;
                font-weight: 800;
                .top_word_bottom {
                    position: relative;
                    right: 33px;
                }
            }
            p.middle {
                font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                font-size: 23px;
                text-decoration: none;
                margin: 7px 0px 0px 53px;
                color: #2d2f31;
                font-weight: 200;
                letter-spacing: -0.01em;
                img {
                    height: 55px;
                    position: relative;
                    top: 20px;
                    left: 10px;
                }
            }
            .logout_image_box {
                
            }
            .box_login {
                .test_login {
                    form {
                        &:hover {
                            filter: brightness(110%);
                        } 
                        span {
                            position: relative; 
                            top: 6px;
                            left: 128px;  
                            font-size: 26px;
                            color: $submit-font-color;
                            text-shadow: 2px 2px 4px #2d8f3d, -2px -2px 4px #a0f7ae;
                        }
                        input {
                            font-family: 'Exo', sans-serif, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                            color: $submit-font-color;
                            background: $accent-color;
                            width: 370px;
                            height: 20;
                            font-size: 17px;
                            border: none;
                            font-weight: bold;
                            border-radius: 40px;
                            padding: 14px 14px 14px 50px; 
                            margin: 23px 0px 0px 25px;  
                            text-shadow: 2px 2px 4px #2d8f3d, -2px -2px 4px #a0f7ae;
                            box-shadow:  6px 6px 7px #aab0b8,-5px -5px 2px #ffffff; 
                        }
                    }
                }        
            }
        }
        .logout_right_img {
            img {
                width: 470px;
                display: block;
                padding: 50px 0px 0px 40px;
                
            }
        }
    }  
    .cheacker_card_box {
        padding: 0px 80px 0px;
        margin: 0px 0px 80px 0px;
        .checker {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-align: left;
            padding: 20px 0px 40px;
            background-position: 0px -40px;
            height: 300px;
            border-radius: 20px;
            background: #E5EDF5;
            box-shadow:  6px 6px 12px #c3c9d0,-6px -6px 12px #ffffff;
            .checker_word_top {
                padding: 1px;
                margin: 0px 80px 0px 53px ;
                font-size: 38px;
                color: $font-color;
                letter-spacing: -0.05em;
                white-space: nowrap;
                img {
                    height: 35px;
                    position: relative;
                    top: 4px;
                }
            }
            .checker_word_middle {
                margin: 0px 80px 0px 53px;
                font-size: 17px;
                text-decoration: none;
                color: $font-color;
                white-space: nowrap;
                letter-spacing: -0.07em;
            }
            .checker_word_bottom {
                margin: 15px 80px 20px 53px;
                font-size: 17px;
                text-decoration: none;
                color: $font-color;
                white-space: nowrap;
                letter-spacing: -0.15em;
            }
            a.checker_submit {
                display: flex;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                text-align-last: center;
                text-decoration: none;
                background: $accent-color;
                width: 230px;
                font-weight: bold;
                border-radius: 5px;
                white-space: nowrap;
                letter-spacing: -0.06em;
                vertical-align: middle;
                border: none;
                border-radius: 40px;
                padding: 2px 40px 2px 80px; 
                margin: 0px 80px 0px 53px;
                box-shadow:  6px 6px 7px #aab0b8,-4px -4px 3px #ffffff;
                &:hover {
                    filter: brightness(110%);
                    transition: 0.2s;
                } 
                span {
                    display: block;
                    font-size: 27px;
                    margin: 3px 0px 0px 3px;
                    position: relative;
                    left: 5px;
                    top: 9px;
                    color: $submit-font-color;
                    text-shadow: 2px 2px 4px #2d8f3d, -2px -2px 4px #a0f7ae;
                }
                p {
                    font-family: 'Exo', sans-serif, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                    font-size: 19px;
                    margin: 11px 15px;
                    color: $submit-font-color;
                    text-shadow: 2px 2px 4px #2d8f3d, -2px -2px 4px #a0f7ae
                }          
            }
        }
    }
    form.item_list_search {
        display: flex;
        margin: 0px 50px 10px 80px;
        color: $subfont_color;
        height: 38px;
        input {
            color: $font-color;
            width: 350px;
            height: 48px;
            padding-left: 13px;
            border: none;
            border-radius: 40px;
            outline: none;
            background: $card-color;
            font-size: 16px;
            letter-spacing: -0.01em;
            line-height: 3em;
            font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
            position: relative;
            left: 27px;
            &::placeholder{
                color: $font_color;
            }
            &:focus {
                color: $subfont-color;
                background: $card_color;
            }
        }
        #search {
            width: 38px;
            height: 36px;
            border: none;
            padding: 5px 0px 43px 5px;
            background: $card-color;
            color: $font-color;
            border-radius: 40px 0px 0px 40px;
            position:relative;
            top: 0px;
            left: -349px;
            outline: none; 
            vertical-align: middle;
            span {
                margin: 7px 0px 0px 0px;
            }
        }
    }
    .tool_box {
        display: flex;
        margin: 0px 0px 0px 82px;
        span {
            display: block;
            font-size: 29px;
            color: $font-color;
            margin: 1px 3px 0px 0px;
        }
        p {
            font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
            margin: 0px 0px 0px 8px;
            padding: 0px 0px 0px 0px;
            font-size: 20px;
            font-weight: 600;
            color: $font-color;
        }
    }
    .itemlist {
        padding: 0px 0px 0px 0px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 18px 78px 0px 83px;
        display: flex;
        ul.main {
            padding: 0px 0px 20px 0px;
            margin: 0px auto;
            list-style: none;
            display: flex;
            flex-wrap:wrap;
            justify-content: space-between;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            li {
                margin: 0px 0px 45px 0px; 
                padding: 0px 0px 18px; 
                background-color: $base-color;
                text-align: center;
                border-radius: 10px;
                position: relative; 
                background: #E5EDF5;
                box-shadow:  6px 6px 12px #c3c9d0,-6px -6px 12px #ffffff;
                font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                .itemlist_topimg {   
                    a {
                        display: block;
                        &:hover {
                            filter: brightness(90%);
                          
                        } 
                        img {  
                            filter: contrast(150%);
                            filter: saturate(150%);
                            border-radius: 10px 10px 0px 0px;
                            width: 300px;
                            height: 200px;
                            max-width: 100%;
                            object-fit: cover;
                            margin: 0px 0px 0px 0px;
                        }
                    }
                }
                .list_item_type_box {
                    .list_type_sord_box {
                        display: flex;
                        border-radius: 50%;                    
                        margin: 12px 0px 0px 0px;
                        height: 51px;
                        .list_item_type_name {
                            font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                            color: $font-color;
                            margin: 0;
                            margin: 13px 11px 0px;
                            font-weight: 600;
                            letter-spacing: 0.01em;
                            font-size: 18px;
                            span {
                                font-size: 23px;
                            }
                        }
                        span {
                            display: block;
                            padding: 2px;
                            margin: 5px 0px 0px 0px;
                            font-size: 25px;
                        }
                    }
                    .list_type_shield_box {
                        display: flex;
                        border-radius: 50%;
                        margin: 12px 0px 0px 0px;
                        height: 51px;
                        p.list_item_type_name {
                            font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                            color: $font-color;
                            margin: 0;
                            margin: 13px 11px 0px;
                            font-weight: 600;
                            letter-spacing: 0.01em;
                            font-size: 18px;
                            span {
                                font-size: 25px;
                            }
                        }
                        span {
                            display: block;
                            padding: 2px;
                            margin: 5px 0px 0px 0px;
                            font-size: 25px;
                        }
                    }
                    
                }
                .itemlist_word {   
                    margin: 0px 0px 0px 2px;
                    min-height: 70px;
                    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                    .box_text {   
                        margin: -7px 9px 0px 11px;
                        .list_name {
                            a {
                                font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                                margin: 0px 0px 10px 0px;
                                max-width: 270px;
                                color: $font-color;
                                font-size: 21px;
                                font-weight: 600;
                                display: block;    
                                text-decoration: none;
                                text-align: left;
                                text-overflow: ellipsis;
                                letter-spacing: 0em;
                                z-index: 1;
                            }
                        } 
                        .price {
                            font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                            text-align: left;
                            color: $price-font-color;
                            font-weight: 700;
                            letter-spacing: -0.02em;
                            font-size: 19px;
                            font-weight: 600;
                        }      
                        p {
                            font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
                            text-align: right;
                            margin: 0px 0px 0px 0px;
                            color: $third-font-color;
                            letter-spacing: -0.02em;
                            font-size: 17px;
                            font-weight: 400;
                        }  
                    }          
                }
            }
        }
    }
}
    
/* smartPhone */
@media screen and (max-width: 640px) {
    .toppage_login { 
        padding: 100px 0px;
        .face_box {
            margin: 0px 0px 15px 20px;
        }
        form.item_list_search {
            margin: 0px 0px 30px 20px;
        }
        .tool_box {
            margin: 0px 0px 0px 22px;
        }
    }
    .toppage_logout {
        .logout_image {
            padding: 50px 20px;
            .logout_word {
                h1 {
                    white-space: initial; 
                    margin: 0;
                }
                p.middle {
                    margin: 0;

                }
                .box_login {
                    .test_login {
                        form {
                            input {
                                margin: 0px 0px 0px 0px;
                            }
                        }
                    }
                }
                
            }
        }
        .logout_toppage {
            padding: 0px 20px;
        }
        
    }
}

@media screen and (max-width: 960px)  {
    .toppage_login {
      
    }
}