// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "_variables";


.field_with_errors {
    display: inline;
    // もしくは diplay: inline;
  }

.signupform {
  width: 450px;
  height: 390px; 
  margin: 160px auto ;
  color: $font_color;
  padding: 40px 40px 0px;
  background-color: rgb(87, 85, 85);
  border-radius: 4px;
    #user_name {
      display: block; 
      width: 97%;
      margin-bottom: 8px;
      padding: 9px 0px 9px 10px;
  }
    #user_email {
      display: block; 
      width: 97%;
      margin-bottom: 8px;
      padding: 9px 0px 9px 10px;
  }

    #user_password {
      display: block; 
      width: 97%;
      margin-bottom: 8px;
      padding: 9px 0px 9px 10px;
  }
    #user_password_confirmation {
      display: block; 
      width: 97%;
      margin-bottom: 8px;
      padding: 9px 0px 9px 10px;
  }

  .signup_submit{
    margin: 27px 0px 0px 344px;
    padding: 13px 25px;
    background-color: #01d8ad;
    border: #01d8ad;
    border-radius: 50px;
    color: #f9fcfb;
    font-weight: bold;
    font-size: 15px;
  }
}